@import url(./dashboard-main.css);

.dashboard_wrapper {
  display: flex;
  align-items: start;
  gap: 48px;
}
.left_dashb {
  width: 33%;
}

.main_block {
  box-sizing: border-box;
  border: 0.5px solid rgb(228, 226, 225);
  border-radius: 15px;
  margin-bottom: 52px;
  background: rgb(250, 250, 252);
}

.main_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 28px;
}

.main_block_title h4 {
  color: rgb(36, 36, 36);
  font-family: Cygre SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

.main_block_content {
  min-height: 235px;
  border-radius: 15px;

  background: rgb(255, 255, 255);
}
.balance_block {
  background: url(../assets/images/balance.png), #fff;
  background-size: cover;
  padding: 23px 30px 28px;
}

.balance_block_cur {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 20px;
}
.balance_block_cur p {
  color: rgb(36, 36, 36);
  font-family: Cygre SemiBold;
  font-size: 14px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.balance_block_balance {
  display: flex;
  align-items: center;
  gap: 24px;
}
.balance_block_balance h4 {
  color: rgb(36, 36, 36);
  font-family: Cygre SemiBold;
  font-size: 42px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}
.balance_block_balance img {
  cursor: pointer;
}

.balance_block_actions {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.balance_block_actions button:first-child {
  background: rgb(222, 36, 8);
  color: #fff;
}
.cr_dp_bl {
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 573px;
  background: url(../assets/images/cre-dp_bg.png);
  background-size: cover;
}
.cr_dp_bl p {
  margin-bottom: 45px;
  font-family: Cygre SemiBold;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(181, 181, 181);
}

.cr_dp_bl p span {
  color: rgb(36, 36, 36);
}

/*  */

.progress-bar svg text {
  display: none;
}

.progress-bar {
  position: absolute;
  transform: scale(1.6);
  top: 80px;
}

.limit_block {
  position: relative;
  overflow: hidden;
}

.user_nav_prof {
  position: relative;
}
.fillout_modal {
  box-sizing: border-box;
  border: 1px solid rgb(191, 191, 191);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 5px 15px 0px rgb(241, 241, 244);
  background: rgb(255, 255, 255);
  position: absolute;
  right: 0;
  top: 50px;
}
.fillout_progress_block {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}
.progress_fillout svg {
  width: 95px;
  height: 95px;
}
.fillout_progress_block p {
  position: absolute;
  color: rgb(137, 137, 137);
  font-family: Cygre;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: -7px;
  margin-right: -4px;
}
.fillout_modal {
  width: 432px;
}
.fillout_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px;
}
.fillout_top_desc h3 {
  color: rgb(36, 36, 36);
  font-family: "Cygre 700";
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: right;
}
.fillout_top_desc p {
  color: rgb(133, 133, 133);
  font-family: "Cygre";
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: right;
}
.fillout_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 18px;
}
.fillout_btns button {
  min-width: 110px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fillout_btns .contract_btn {
  height: 44px;
  padding: 0;
}
.fillout_steps_modal {
  width: 868px;
  border-radius: 20px;

  background: rgb(255, 255, 255);
}
.fillout_steps_modal_top {
  padding: 33px 33px 24px 50px;
  border-bottom: 1px solid rgb(234, 234, 234);
}
.overlay {

  position: fixed;
  display: flex;
  align-items: center;
  background: rgba(30, 30, 30, 0.405);
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
}
.fillout_steps_modal_top .fillout_top {
  justify-content: flex-start;
}
.fillout_steps_modal_top .fillout_top_desc p,
.fillout_steps_modal_top .fillout_top_desc h3 {
  text-align: left;
}
.fillout_steps_modal_top .fillout_top_desc {
  width: 70%;
}
.modal_ex {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.modal_ex img {
  cursor: pointer;
}
.fillout_steps_modal_btm {
  padding: 37px 30px 46px 53px;
}
.fillout_btns_sec {
  justify-content: flex-start;
  gap: 26px;
}
.fillout_btns_sec .contract_btn {
  box-sizing: border-box;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 9px;

  background: rgb(255, 255, 255);
  padding: 0 39px;
}
.fillout_btns_sec .redtbn {
  box-sizing: border-box;
  border: 1px solid rgb(255, 164, 150);
  border-radius: 9px;

  background: rgb(222, 36, 8);
  padding: 0 50px;
}
.fillup_step {
  display: flex;
  align-items: start;
  gap: 13px;
}
.not_checked {
  border: 1px solid rgb(222, 36, 8);
  width: 23px;
  height: 23px;
  cursor: pointer;
  border-radius: 50%;
}
.fill_up_steps {
  margin-bottom: 40px;
}
.fillup_step_desc h4 {
  color: rgb(36, 36, 36);
  font-family: "Cygre 700";
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: left;
}
.fillup_step_desc p {
  color: rgb(133, 133, 133);
  font-family: Cygre;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: left;
}
.hidden_icon {
  display: none;
}
.fillup_step {
  cursor: pointer;
  margin-bottom: 25px;
}

.fillout_steps_modal_w, .fillout_modal {
  display: none;
}
.visible_modal {
  display: flex;
}
.fillout_modal  {
  flex-direction: column;
}
@media only screen and (max-width: 1100px) {
  .right_dashb_top {
    flex-direction: column;
  }
  .right_dashb_top_left {
    width: 100%;
  }
  .right_dashb_top_right {
    width: 100%;
  }
  .right_dashb_top_right .main_block,
  .right_dashb_top_left .main_block {
    max-width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .dashboard_wrapper {
    flex-direction: column;
  }
  .left_dashb,
  .right_dashb {
    width: 100%;
  }
  .main_block {
    max-width: 100%;
  }
  .right_dashb_top {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .dash_plan_top {
    flex-direction: column;
    gap: 20px;
  }
}

@media only screen and (max-width: 500px) {
.fillout_modal  {
 width: 100%;
 right: 0;
 padding: 20px;
 top: 80px;
}
.fillout_steps_modal_btm, .fillout_steps_modal_top {
  padding: 20px;
}
.fillout_btns_sec {
  gap: 15px;
  flex-direction: column
}
.fillout_btns_sec .contract_btn, .fillout_btns_sec .redtbn {
  width: 100% !important;
}
.fill_up_steps {
  margin-bottom: 20px;
}
.fillup_step_desc h4 {
  font-size: 16px;
}
.fillup_step_desc p {
  font-size: 12px;
}
.fillup_step {
  margin-bottom: 15px;
}
.fillout_steps_modal_top {
  padding-bottom: 0;
}
  .main_block {
    margin-bottom: 20px;
  }
  .limit_img {
    width: 90%;
  }
  .limit_block p {
    position: relative;
    width: 60%;
  }
  .dashboard_wrapper {
    gap: 20px;
  }
  .stats_block {
    flex-direction: column;
    align-items: start;
  }
  .stats_block_wrapper {
    height: auto;
  }
  .stats_block_list {
    padding: 20px;
  }
  .google_auth {
    flex-direction: column;
    gap: 18px;
  }
  .right_dashb_top {
    gap: 20px;
  }
  .dash_plan_top_rigth {
    flex-direction: column;
    width: 100%;
  }
  .dash_plan_top_rigth_card,
  .dash_plan_top_rigth_blocks,
  .dash_plan_top_left {
    max-width: 100%;
    width: 100%;
  }
  .dash_plan_bottom {
    flex-direction: column;
  }
  .progress_block {
    width: 100%;
  }
  .cr_dp_bl {
    background-position: center;
  }
}
