.transaction_table_item_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.transaction_table_item_wrapper {
  padding-bottom: 20px;
  border-bottom: 0.5px solid rgb(228, 226, 225);
}

.transaction_table_item_titles p {
  color: rgb(133, 133, 133);
  font-family: Cygre Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}

.transaction_table_item_part {
  width: 25%;
}

.transaction_table_item_container {
  padding-top: 20px;
}
.transaction_table_item_container .transaction_table_item_part p,
.transaction_table_item_desc_content p {
  color: rgb(36, 36, 36);
  font-family: Cygre SemiBold;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: left;
}
.transaction_table_item_desc {
  padding-top: 19px;
}
.transaction_table_item_desc_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  height: 35px;

  background: rgb(250, 250, 252);
}
.transaction_table_item_desc_title p {
  color: rgb(133, 133, 133);
  font-family: Cygre Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.transaction_table_item_desc_title p:last-child {
  width: 75%;
}
.transaction_table_item_desc_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
}
.transaction_table_item_desc_content span {
  color: rgb(133, 133, 133);
  font-family: Cygre;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.wallet {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 75%;
}
.wallet img {
  cursor: pointer;
}
.w_25 {
  width: 25%;
}
.transaction_table_item_desc {
  display: none;
}

.transaction_table_item_active .transaction_table_item_desc {
  display: block;
}

.menu {
  width: 34px;
  height: 34px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}
.transaction_table_item_active .menu {
  border-radius: 9px;

  background: rgb(250, 250, 252);
}

.pages_title {
  position: relative;
}

.operation_status_snack {
  min-width: 299px;
  height: 61px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 30px;
  position: absolute;
  right: 0;
  top: -80px;
}
.operation_status_snack p {
  font-family: Cygre SemiBold;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.operation_status_snack_s {
  border-radius: 15px;

  box-shadow: inset 0px 0px 17.5px 0px rgb(255, 255, 255);
  backdrop-filter: blur(19.2px);
  background: linear-gradient(
      90deg,
      rgba(34, 195, 93, 0) 60.686%,
      rgba(34, 195, 93, 0.59) 100%
    ),
    rgba(34, 195, 93, 0.16);
  width: 510px;
}
.operation_status_snack_s p {
  color: rgb(34, 195, 93);
}
.operation_status_snack_p {
  border-radius: 15px;

  box-shadow: inset 0px 0px 17.5px 0px rgb(255, 255, 255);
  backdrop-filter: blur(19.2px);
  background: linear-gradient(
      90deg,
      rgba(29, 97, 255, 0) 60.686%,
      rgba(29, 97, 255, 0.59) 100%
    ),
    rgba(29, 97, 255, 0.16);
}
.operation_status_snack_p p {
  color: rgb(29, 97, 255);
}
.operation_status_snack_r {
  border-radius: 15px;

  box-shadow: inset 0px 0px 17.5px 0px rgb(255, 255, 255);
  backdrop-filter: blur(19.2px);
  background: linear-gradient(
      90deg,
      rgba(255, 29, 29, 0) 60.686%,
      rgba(255, 29, 29, 0.59) 100%
    ),
    rgba(255, 29, 29, 0.16);
}
.operation_status_snack_r p {
  color: rgb(255, 29, 29);
}
.operation_status_snack_a {
  border-radius: 15px;

  box-shadow: inset 0px 0px 17.5px 0px rgb(255, 255, 255);
  backdrop-filter: blur(19.2px);
  background: linear-gradient(
      90deg,
      rgba(255, 165, 29, 0) 60.686%,
      rgba(255, 165, 29, 0.59) 100%
    ),
    rgba(255, 165, 29, 0.16);
}
.operation_status_snack_a p {
  color: rgb(255, 165, 29);
}
.operation_status_snack {
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateY(40px);
}
.active_operation_status_snack {
  transition: all 0.4s ease;
  opacity: 1;
  transform: translateY(0);
}
.operation_status_snack img {
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .transaction_table {
    overflow: auto;
  }
  .transaction_table_wrapper {
    width: 1100px;
  }
}

@media only screen and (max-width: 500px) {
  .operation_status_snack_s {
    width: 80%;
  }
}
